.form-select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  gap: 3px;
  width: 49%;
}

.form-select {
  height: 26px;
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {
  .form-select-container {
    width: 100%;
  }
}